.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}



.content {
    width: 200px;
    /* Largeur des divs identiques */
    height: 500px;
    /* Hauteur des divs identiques */
    text-align: center;
}


.fa-solid {
    margin-left: 20px;
    margin-right: 20px;
}

.redPoint {
    width: 20px;
    height: 20px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

.player1Zone {
    height: 500px;
    background-color: whitesmoke;
    font-size: 30px;

}

.player2Zone {
    height: 500px;
    background-color: gainsboro;
    font-size: 30px;

}

.currentScore {
    margin-top: 150px;
    height: 100px;
    width: 140px;
    background-color: coral;
    font-size: 20px;
}

.newGame {
    margin-top: 80px;
}

.winner {
    margin-top: 110px;
    font-size: 30px;
    color: coral;


}

.dice {
    margin-top: 175px;
}

.rollDice {
    margin-top: 340px;
}

.hold {
    margin-top: 400px;
}

img {
    width: 100px;
    height: 100px;

}

#gameRules {
    margin-top: 30px;

}